<div class="heat-container pt-5">
    <center>
      <h3>{{ title }}</h3>
    </center>
    <center>
  
      <canvas id="chart" class="m-0 p-0" width="1000" height="400"></canvas>
      <script type="text/javascript" src="{{ url_for('static', filename='Chart.HeatMap.S.js') }}"></script>
      <script>
        var heatData = {
          labels: {{ labels|safe }},
          datasets: {{ data|safe }}
        };

        var mychart = document.getElementById("chart");
        var proposed_width = heatData.labels.length*50;
        proposed_width < 500 ? mychart.width = 500 : mychart.width;
        var newChart = new Chart(mychart.getContext("2d")).HeatMap(heatData);
        
      </script>
    </center>
  </div>